*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background: rgb(137,137,137);
    overflow-x: hidden;
}
.menu-wrapper{
    display: flex;
    flex-direction: row;
}
.side-menu{
    height: 100vh;
    width: 17%;
    margin: 10px 0px 0px 10px;
    display: flex;
    flex-direction: column;
    
}
.desert-images{
    display: flex; 
    align-items: center;
    justify-content: center;
}
.desert-images img{
    object-fit: cover;
}
.side-header h3{
    text-align: left;
    font-size: 25px;
    color: rgb(255, 166, 0); 
}

.side-header h5{
    font-size: 18px;
    color: rgb(255, 166, 0); 
}
.admin h3{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.txt{
    width: 90%;
    height: 3rem;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 17px;
    padding: 0px 10px 0px 10px;  
}
.txt:focus{
    outline: none;
}

textarea:focus{
    outline: none;
}
textarea{
    margin-bottom: 15px;
    width: 90%;
    height: 9rem;
    font-size: 17px;
    border: none;
    border-radius: 8px; 
    padding: 0px 10px 0px 10px;  
}
.file{
    margin-bottom: 20px;
    
}
#btn-1{
    width: 6rem;
    height: 2rem;
    background-color:rgb(255, 166, 0);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
}

#btn-1:hover{
    background-color: rgba(5, 5, 5); 
}
.main-menu{
    margin: 0px 10px 0px 10px;
    width: 83%;
}
.main-dish-header{
    margin-top: 10px;
}
.main-dish-header h4{
    margin: 10px 0px 20px 0px;
  text-align: center;
  font-size: 25px;
    color: rgb(255, 166, 0);

}
.dish-wrapper{
    display: flex;
}
.dishes{
    display: flex;
    margin: 10px 0px 10px 0px;
    
}
.dish-details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 40px 0px 40px;
    
}
.dish-details h5{
    display: flex;
    align-items: flex-start;
    justify-content: start;
    font-size: 18px;
    color: rgb(255, 166, 0);
}
.dish-details p{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 17px;
    width: 100%;
    color: #fff;
}

.rmv-btn button{
    color: #fff;
    font-size: 17px;
    background: rgba(5, 5, 5, 1);
    border: none;
    border-radius: 50px;
    height: 2rem;
    width: 6rem;
    cursor: pointer;

}

.rmv-btn button:hover{
    background: rgba(5, 5, 5, 0.5);

}
.dish-mage{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mage{
    width: 8rem;
    height: 8rem;
}
.mage img{
    object-fit: cover;
    width: 7rem;
    height: 7rem;
}
.unalign{
    margin-top: 80px;
}
.amount{
    font-size: 25px;
    display: flex;
}

.amount p i{
    margin-right: 2px;
}